body {
    background-image: url('../img/tile.jpg');
    text-align: center;
}

.header {
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

#inputBox {
    background-image: url('../img/formbg.jpg');
    background-repeat: repeat-y;
    width: 600px;
    margin-bottom: 30px;
}
.formRow {
    background-color: white;
    opacity: 0.5;
    width: 300px;
    border: none;
}
.formRow::placeholder {
    color: black;
    opacity: 1;
}
#mission {
    font-weight: bolder;
}
.deadlineCommand {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    font-weight: bold
}
.deadlineInput, .btn {
    width: 148px;
}

.note {
    background-image: url(../img/notebg.png);
    width: 200px;
    height: 250px;
    animation: 2s fade ;
}
.noteContent {
    direction: rtl;
    height: 200px;
    margin-right: 6px;
    margin-left: -13px;
    overflow: auto;
}
.removeButton{
    visibility: hidden;
}
.note:hover .removeButton{
    visibility: visible;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}